*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 72px;
    line-height: 80px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
    font-weight: 400;
    color: #207733;

}
h4{
    font-size: 22px;
}
h5{
    font-size: 18px;
    font-weight: 400;
    color: #FCC028;
}

.top__section{
    background: linear-gradient(rgba(236, 179, 46, 0.20), #ffffff);
    width: 100%;
}

.body__section{
    max-width: 1440px;
    margin: 80px auto;
}
